extends ./layouts/index
block contenido
    main.container.mt-5
        h1.text-center.mt-5 #{pagina}

        h2.text-center.mb-5 Nuestros clientes dicen:
        include ./layouts/bloque_testimoniales 

        .row

            .col-md-12
                h2.d-block.w-100.text-center Agrega tu comentario

                if(errores)
                    each error in errores
                        .alert.col.alert-danger.text-center= error.mensaje

            //- p= JSON.stringify(errores)

            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimoniales", method="post")
                        .form-group
                            label(for="nombre") Nombre 
                            input#nombre(type="text", name="nombre",placeholder="Tu nombre",class="form-control",
                            value=nombre)  
                        .form-group
                            label(for="email") Email 
                            input#email(type="text", name="email",placeholder="Tu email",class="form-control", value=email)  
                        .form-group
                            label(for="mensaje") Mensaje 
                            textarea#mensaje(name="mensaje", cols="30", rows="10", class="form-control", placeholder="Tu mensaje")= mensaje

                        input.btn.btn-success.btn-block(type="submit", value="Enviar")